@model Paginacion<sistema.Models.Categoria>
@{
    ViewData["Title"] = "Index";
}

<h2>Categorias</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Nuevo</a>
</p>
<form asp-action="Index" method="get">
    <div class=" no-color">
        <p>
            <div class="row">
                <div class="col-md-8">
                    <label class="col-md-2">Filtro</label>
                    <input placeholder="buscar por nombre o Descripción" class="col-md-10" type="text" name="searchigString" value="@ViewData["CurrentFilter"]" />
                </div>
                <div class="col-md-2">
                    <input type="submit" value="buscar" class="btn btn-primary" />
                </div>

            </div>

        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NombreSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Nombre</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescripcionSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">   Descripción</a>
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoriaID">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoriaID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    //para preview y next
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="paginacion">
    <div class="content-paginacion">

        <!--anterios-->
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex-1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Anterior
        </a>
        <!--para q muestre todas las paginas q tiene-->
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (Model.PageIndex == i)
            {
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@i"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-primary ">
                    @i
                </a>

            }
            else
            {
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@i"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default ">
                    @i
                </a>

            }

        }
        <!--siguiente-->
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Siguiente
        </a>
    </div>
    <div class="todos-paginacion">
        <form asp-action="Index" method="get">
            <div class=" no-color">
                <p>
                    <div class="row">

                        <div class="col-md-12">
                            <a asp-action="Index">Todos los Registros</a>| Registros mostrados @Model.TotalR
                        </div>
                    </div>

                </p>
            </div>
        </form>
    </div>
</div>